on:
  push:
    branches:
      - release

name: Build ZenUnni App
jobs:
  build:
    name: Build and Release
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Codebase
        uses: actions/checkout@v2

      - name: Setup JDK 17
        uses: actions/setup-java@v1
        with:
          java-version: 17

      - name: Setup Flutter
        uses: subosito/flutter-action@v2
        with:
          channel: stable

      - name: Create .env File
        run: |
          echo "KEY=${{ secrets.KEY }}" > .env

      - name: Flutter clean
        run: flutter clean

      - name: Getting Dependencies
        run: flutter pub get

      - name: Upgrade Dependencies
        run: flutter pub upgrade

      - name: Building APK
        run: flutter build apk --release

      - name: Upload APK
        uses: ncipollo/release-action@v1
        with:
          artifacts: "build/app/outputs/apk/release/app-release.apk"
          tag: v0.0.${{ github.run_number }}
          token: ${{ secrets.TOKEN }}
